.container
  .btn.btn-default= link_to "Add Assignment", new_assignment_path
  .col-md-12
    .container.text-center
      %h1 All Outcomes Assignments
      .jumbotron
        - @assignments.each do |assignment|
          %h2
            = link_to assignment.title, assignment
            = "-- #{assignment.ga_focus}"
