<body class="student-body">

<div class="new-s button">
  <%=link_to"Enroll New Student!",new_student_path, :class => "buttontxt"%>
</div>

<div class="cohort-title">
  <h2>Students in WDI 8</h2>
  <p>by last name</p>
</div>

<div class="cohort">
  <% @students.group_by do |student| %>
  <p class="student_name"><%=link_to "#{student.last_name},  #{student.first_name}",student_path(student)%>
    <!-- <%=student.ga_focus%>
    <%=student.cohort_number%> -->
  </p>
    <% end %>
</div>
</body>
