<body class="student-body">

<h1 class="container-S welcome">Welcome to your personal outcomes page, <%= @student.first_name%>!</h1>

<div class="container-S personal-directory"
<p>Check out your peronal BRAND STATEMENT here:</p>
<p>
  <% last_brand_statement = @student.brands.last %>
  <% if last_brand_statement %>
    <%= link_to "See Brand Statement", student_brand_path(@student,last_brand_statement) %>
  <% else %>
    <%= link_to "Create your first Brand Statement", new_student_brand_path(@student) %>
  <% end %>
</p>




<p>Here are the companies you are currently interested in:</p>

<p>Here is a list of meetups you might like to attend!</p>

  </div>
<body>
