<h1>Welcome to your personal outcomes channel, <%= @student.first_name%>!</h1>

<p>As of today, your brand statement looks like this:</p>

<p>Here are the companies you are currently interested in:</p>

<p>Here is a list of meetups you might like to attend!</p>
