%h2 Outcome Assignments

%p Our goal is to get you to “Job Seeker Status” as close to the last day of class as possible.  In order to accomplish this and be considered a “Job Seeker” aka actively looking for a job, you must have successfully completed the Outcomes Survival Kit.  This includes your Resume, Brand Statement, LinkedIn Profile, GA Profile, Portfolio, and your GA Personal Tracker.

%p Each week, you will have “assignments” that will help you build up to the Outcomes Survival Kit.  We strongly encourage you to work on these assignments each week to make the end result easier to complete.  We will review these assignments in your weekly program and small group meetings so please be prepared with your materials.  You can check out the Outcomes Survival Kit Checklist here: (no you cant: no link)

.jumbotron
  %h2 Submitting Outcomes Assignments Every Monday
  %p
    =link_to "WDI Outcomes Assignment Submissions", "https://docs.google.com/spreadsheets/d/1BRTwaKI2saWaCaI8k8v5f__jlfp7I72otwo_yG0XN9k/edit#gid=1493608394"
  %p
    =link_to "UXDI Outcomes Assignment Submissions", "https://docs.google.com/spreadsheets/d/1YFoiEiB1X2JySeraszZo4Q6kjF32ADDPvMYYXwg4vqY/edit#gid=1493608394"
