.container
  .jumbotron
    %h1 Outcome’s Weekly Program’s Itinerary:

    %p Week 1: Introduction to Outcomes & the DC Tech Community
    %p Week 2: Cheers to Those Who Survived: Alumni Panel & Networking
    %p Week 3: Finding Your Voice & Defining Your Brand
    %p Week 4: The Winning Resume Package
    %p Week 5:  A Day in the Life… Studio Tour Day 1
    %p Week 6: Catch Your Breath &  Regroup
    %p Week 7:  A Day in the Life… Studio Tour Day 2  & Headshots
    %p Week 8:  Publicly Exposed: Sharing Your Talents & Profiles
    %p Week 9: Preparing for the Interview & Talking Money
    %p Week 10:  Ask the Experts Panel Discussion
    %p Week 11 (WDI Only): The Tech Interview - Tips and Tricks!
    %p Week 12: Portfolio Standup (UXDI + WDI)
    %p Week 13: Land a Job at the GA UXDI Meet & Hire
    %p Week 14: Land a Job at the GA WPI Meet & Hire

.container
What’s Next:  GA Alumni Program Kick Off
