%h2 Policy Page
%h1 Communicating with Your Outcomes Team

%p Seth, Sarah and Joy are here to support you in your job search endeavor! We don’t want you to take just any job, but the right job that is best for you!  You will have designated access to us each week through the Outcomes Programs, small-groups, Office Hours and one-on-one sessions.  We strongly encourage you to bring your questions to each session, knowing that you will have ample individual attention to your needs. We do request that you schedule time for an individual session during our office hours for any specific questions and needs.  We also kindly ask that you allow 24 hours of response time to emails and phone calls.  We want to be accessible, but we request that you do not just drop by without an appointment outside of our general office hours.  You can schedule time with us by selecting “Office Hours” above.

%h1 Outcomes Attendance

%p You are required to attend and participate in all mandatory Outcomes sessions in     order to graduate from the GA Program. If you are unable to attend a program, you are required to send written notice within 3 hours of the program start time to the Outcomes Team.
