%h2 Outcomes Pre-Work

%p
  Don’t worry, we know you are nervous!  But we got you covered!  Before we dive in, we request that you complete the GA Outcomes Pre-Work and review the Agreement to Success.  Have this ready by your first week of class!

%h2
  Your Agreement to Success: Outcomes Intro & Student Expectations
  GA Outcomes Pre-Work (that you should have completed prior to your first week of class):
  https://generalassemblydc.typeform.com/to/rOEItv
