%h2 Schedule Page
.container
  %h3 Side Nav

  %h3 Schedule

week = model
 intro
 speaker
 goal
 theme
 materials
 assignment
 resources

  %h3 Weeks
  %h4
    Week 1: Introduction to Outcomes & the DC Tech Community
  %p
    Who is the Outcomes Team and this community of DC techies?  How are you going to land a job in a competitive market utilizing the talents you are about to embark on? What types of jobs exist that could be your next professional chapter? How can you best get involved in the most sought after community in DC? Join us as we introduce the DC Outcomes Team and how we are going to help you navigate the job search starting week 1!  You will also meet some of the leading experts in the DC Tech Community who will share their Tips and Tricks! Come prepared with 3 burning questions you would love to know!

  %h4
    Week 2: Cheers to Those Who Survived: Alumni Panel & Networking
  %p
    We get it, this program is a lot, and can be intimidating. But don’t worry...you’re not alone!  Need proof that you will survive and get through this? Talk to those who have completed and graduated from a GA Immersive! Come prepared with 3 burning questions you would love to know!

  %h4
    Week 3: Finding Your Voice & Defining Your Brand
  %p
    Your brand is your value proposition. It is important to understand who you are as a professional in your chosen field. It is what makes you uniquely qualified over candidates who are just merely qualified based solely on hard skills. This is what makes you different than any other candidates and allows you to stand out from the crowd. These differentiators, when coupled with your hard skills, translate into employable skills that define you as a professional.

  %p
    But how do you promote your brand and talents? Don’t worry, we’ve got you covered!  We will show you how to explain yourself and your talents in a compelling and interesting way so that your brand doesn’t get lost in translation!

  %h4
    Week 4: The Winning Resume Package
  %p
    Are you ready to create a resume that gets noticed? Need to consolidate those ten pages of fluff to two pages of Impact?  Tired of sending your resume into the big deep swarm of no return?  Learn how to craft a resume that gets callbacks and have the resume Package that wins!  We will tackle LinkedIn and Social Media too!

  %h4
    Week 5:  Catch your breath and Re-group
  %p
    Take advantage of this working week to polish your resume and brand statement and make sure you’re prepared for your job search. Seth, Sarah and Joy are available to answer questions and support you with your job search.

  %h4
    Week 6: A Day in the Life… Studio Tour Day 1
  %p
    Ever wonder what it’s actually like to be a UX Designer or Web Developer? Now’s your chance to get a behind the scenes look at the day to day of a studio. Ask current employees questions, see the office environment, and get a personalized tour. We’ve set up studios to walk you through their space. Take a look at the options below and decide where you’d like to go!

  %h4
    Week 7:  A Day in the Life… Studio Tour Day 2  & Headshots
  %p
    Ever wonder what it’s actually like to be a UX Designer or Web Developer? Now’s your chance to get a behind the scenes look at the day to day of a studio. Ask current employees questions, see the office environment, and get a personalized tour. We’ve set up studios to walk you through their space. Take a look at the options below and decide where you’d like to go!  Oh, and don’t forget to be a model and get your headshot taken on campus! (Sign Up Here for Your Headshot time)

  %h4
    Week 8:  Publicly Exposed: Sharing Your Talents & Profiles
  %p
    Online Alumni Profiles are the best way for GA’s employment partners to reach you directly regarding new opportunities! This session is dedicated to building your Alumni Profile utilizing your Brand Statement, Resume and Headshot!

  %h4
    Week 9: Preparing for the Interview & Talking Money
  %p
    Interviewing is scary!  What questions will I be asked? How do I prepare? What about the money? We’re going to assume you land multiple offers….how do you decide?  Great Job made an offer but totally skimped on the salary?  Let’s talk about that! Join us as we talk interviewing, money, negotiations, and knowing your worth!

  %h4
    Week 10:  UXDI - office hours - WDI: Ask the Experts Panel Discussion
  %p
    You have already done a lot! Great Job!  But unsure of how all of your hard work really contributes to the real working world?  Great,  ask the experts!  You will be able to ask leading industry experts anything under the sun so come prepared with those questions! Get an in depth perspective from experienced talent recruiters, hiring managers, and HR professionals and interview with GA hiring partners.

  %h4
    Week 11: UXDI - Hiring Panel (see above) WDI: The Tech Interview - Tips and Tricks!
  %p
    Are you dreading the technical interview?  Not sure what to expect or calm your nerves? Don’t worry as we will help you prepare to nail the interview and wow the employer!

  %h4
    Week 12: UXDI & WDI: Portfolio Standup
  %p
    Are you ready to show off all of your hard work?  This is your opportunity to get real-life feedback from leading industry experts on your work!  Although your project does not need to be perfect, you need to have it 85% complete, an elevator pitch, and 10 hard copies of your resume to share!

  %h4
    Week 13: Outcomes Bootcamp
  %p
    Congrats, you graduated from GA’s Immersive Program!  We are so proud of all of your hard work and you should be too! We know that you may have a few additions to your resume and portfolio, or may want some additional practice to work on your pitch!  We got you covered!  Come to the Outcomes Bootcamp to prepare for the Meet & Hire.  You won’t want to miss this as all the juicy secrets of what to expect and how to best sell your talents to employers will be shared!

  %h4
    Week 14: Land a Job at the GA Meet & Hire
  %p
    Experience the reverse career fair - you set up a booth and employers spend the afternoon walking through the GA campus,  meeting you, and looking at your work.  Today will give you the chance to connect one on one with employers (in the past we’ve had over 80 employers come!).
