.container
  %h2 Meet Your Outcomes Team!
  .jumbotron
    .row.text-center
      .col-md-4.team
        %h3 Seth Novak
        =image_tag ("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/000/10c/25f/01b3124.jpg"),:class => "profile"
        %p GLOBAL OUTCOMES MANAGER
        %p CAREER COACH
        =link_to "SETH@GA.CO", "mailto:SETH@GA.CO"
        %p Email Seth to schedule Office Hours
        =link_to ""
      .col-md-4.team
        %h3 Sarah Brooks
        =image_tag ("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/000/235/269/0489c55.jpg"),:class => "profile"
        %p OUTCOMES PRODUCER
        %p CAREER COACH
        =link_to "SARAH.BROOKS@GA.CO", "mailto:SARAH.BROOKS@GA.CO"
        %p
          =link_to "Schedule Office Hours with Sarah", "https://calendar.google.com/calendar/selfsched?sstoken=UU51a0hzZWhMYWEzfGRlZmF1bHR8OTdmMmNjZTAxMmY2ZTliNzlkMjY1MmExZWE0ZTZiYTY"
      .col-md-4.team
        %h3 JOY HAUGEN
        =image_tag ("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/005/047/2a8/189b443.jpg"),:class => "profile"
        %p OUTCOMES PRODUCER
        %p CAREER COACH
        =link_to "JOY.HAUGEN@GA.CO", "mailto:JOY.HAUGEN@GA.CO"
        %p
          =link_to "Schedule Office Hours with Joy", "https://calendar.google.com/calendar/selfsched?sstoken=UUhjY1U5MFVhS1YzfGRlZmF1bHR8YzI3Yzc5YjBjMzBkYTBhZTY1MDFlY2U1ZjQwZWNmYmI"
.container
  %h4 Outcomes Open Office Hours: Wednesday’s 5:00-6:00 PM in Room 7.
