%h2 Meet Your Outcomes Team!
.row
  .col-md-3
    %h3 Seth Novak
    %p GLOBAL OUTCOMES MANAGER
    %p CAREER COACH
    =link_to "SETH@GA.CO", "mailto:SETH@GA.CO"
    %p Please email Seth to schedule Office Hours
  .col-md-3
    %h3 Sarah Brooks
    %p OUTCOMES PRODUCER
    %p CAREER COACH
    =link_to "SARAH.BROOKS@GA.CO", "mailto:SARAH.BROOKS@GA.CO"
    %p
      =link_to "Schedule Office Hours with Sarah", "https://calendar.google.com/calendar/selfsched?sstoken=UU51a0hzZWhMYWEzfGRlZmF1bHR8OTdmMmNjZTAxMmY2ZTliNzlkMjY1MmExZWE0ZTZiYTY"
  .col-md-3
    %h3 JOY HAUGEN
    %p OUTCOMES PRODUCER
    %p CAREER COACH
    =link_to "JOY.HAUGEN@GA.CO", "mailto:JOY.HAUGEN@GA.CO"
    %p
      =link_to "Schedule Office Hours with Joy", "https://calendar.google.com/calendar/selfsched?sstoken=UUhjY1U5MFVhS1YzfGRlZmF1bHR8YzI3Yzc5YjBjMzBkYTBhZTY1MDFlY2U1ZjQwZWNmYmI"

%h4 Outcomes Open Office Hours: Wednesday’s 5:00-6:00 PM in Room 7.
