.container
  .jumbotron
    %h1
      Welcome to Outcomes!
    %h3
      Here at GA we pride ourselves on innovation and approaching things in a unique and exciting way. This is no different when approaching career development and the process towards achieving outcomes success. We ask that you approach this journey with an open and growth mindset and allow for a new way of tackling the proverbial job search. This is anything but traditional!

.btn.btn-default
  =link_to "meet your team", about_us_path
.btn.btn-default
  =link_to "policy", policy_path
.btn.btn-default
  =link_to "assignments", assignments_path
.btn.btn-default
  =link_to "resources", resources_path
.btn.btn-default
  =link_to "schedule", schedule_path
.btn.btn-default
  =link_to "Breakdown", table_of_contents_path
