.container
  .jumbotron
    %h1
      Welcome to Outcomes!
    %h3
      Here at GA we pride ourselves on innovation and approaching things in a unique and exciting way. This is no different when approaching career development and the process towards achieving outcomes success. We ask that you approach this journey with an open and growth mindset and allow for a new way of tackling the proverbial job search. This is anything but traditional!

  .container
    %h2 Outcomes Themes for Success!
    %p Throughout your time with Outcomes and GA, you will be focused on our five themes that are designed to set you up for your job search success! The Outcomes Program is designed to build each week to help you feel confident in each of these areas so that upon graduation, you are not only technically sound in your projects, but personally prepared to showcase your talents!
.container
  .banner.text-center
    =image_tag("banner.png")
