<div class="form">
  <%= form_for [@student, @company] do |f| %>

    <div class="form-b">
      <%= f.label :company_name,"Enter a company here:",:class=>"label"%>
      <%= f.text_area :company_name,:class=>"input"%>


  <%= f.submit "Submit company",:class=>"submit_button buttontxt"%>
<%end%>
  </div>
</div>
