html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: rgb(31,31,31);
  background-image:url('skyline.jpeg');
  background-size: cover;
  font-family: 'Neucha', cursive;
  font-size: 20px;
  color: rgb(231,231,231);
}
