// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.brand-body{
    background: url('brandbklogo.jpg') no-repeat fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    font-family: 'Neucha', sans-serif;
    margin-right: 10%;
    margin-left: 10%;
    color:#D0CCB4;
  }


.container-B {
  margin-left:5%;
  margin-right:5%;
  margin-top: 20%;
  border: 4px solid;
  border-radius: 40px;
  color: #D0CCB4;
  background-color: rgba(11,14,23,.95);
  padding: 20px;
}
.welcome-B {
  text-align: center;
}
.brand-directory {
  margin-top: 0;
  font-size: 20px;
}

.separator {
  text-align: center;
}
.timestamp {
  text-align: right;
  padding-top: 4%;
  padding-right: 2%;
}
.edit-b, .new-b{
  margin:0;
  position: fixed;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 17px;
  text-align: center;
  border: 3px solid;
}
.edit-b {
  right:30px;
  top:125px;
  bottom:125px;
  width:125px;
  height: 125px;
  background:rgba(166, 26, 56, 0.8);
}
.new-b{
  left:30px;
  top:125px;
  bottom:5px;
  width:125px;
  height:125px;
  background:rgba(72,72,72,0.9);
}
.form-b {
  color: rgb(11,14,23);
  padding-bottom: 2%;
}
.input-b{
  border:3px solid rgb(11,14,23);
  border-radius:10px;
  height: 400px;
  width: 300px;
}
.title-b{
  margin-top: 2%;
  margin-botton: 2%;
  margin-left: 20%;
  margin-right: 20%;
  border: 4px solid;
  border-radius: 30px;
  text-align: center;
  height:45px;
  color: #D0CCB4;
  background-color: rgba(166, 26, 56, 0.8);
  padding: 20px;
}
