// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  padding-top: 8%;
  padding-bottom: 5%;
}
.banner img {
  width: 75%;
  margin: 0;
}

.inline {
  display:inline-block;
}

.profile {
  max-height: 200px;
  border-radius: 100%;
}

.breathe {
  padding-top: 10%;
}
