// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// ----------student index styling-------------

.student-body {
    background: url('ocgraywelcomebk.jpg') no-repeat fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    font-family: 'Neucha', sans-serif;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 75px;
}

.announce {
  margin: 0 auto;
  color: inherit;
  font-size: 40px;
}

.new-s, .edit-s{
  margin:0;
  position: fixed;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  border: 3px solid;
}

.new-s {
  right:30px;
  top:125px;
  bottom:125px;
  width:125px;
  height: 125px;
  padding: 17px;
  background:rgba(166, 26, 56, 0.8);
}
.edit-s {
  left:30px;
  bottom:30px;
  width:105px;
  height:105px;
  border-color: black;
  color: #E0E0E0;
  background:rgba(37, 97, 15, 0.8);
}

.welcome{
  margin-top: 30%;
  background-color: rgba(166, 26, 56, 0.8);
  color: black;
  text-align: center;
}

.cohort, .container {
  margin-left:5%;
  margin-right:5%;
  margin-top: 20%;
  margin-bottom: 5%;
  border: 4px solid;
  border-radius: 40px;
  padding: 20px;
}
.cohort {
  font-size: 20px;
  -webkit-column-count: 5; /* Chrome, Safari, Opera */
-moz-column-count: 5; /* Firefox */
  column-count: 5;
  margin-top: 0;
  color: #E0E0E0;
  background-color: rgba(72,72,72,0.95);
}

.cohort-title{
  margin-top: 30%;
  text-align: center;
}
.cohort-title, .personal-directory, .title-s {
  background-color:rgba(224,224,224,0.9);
  border-color: black;
  color:black;
}
.personal-directory {
  margin-top: 0;
  font-size: 25px;
  }

  .title-s{
    margin-top: 2%;
    margin-botton: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border: 4px solid;
    border-radius: 30px;
    text-align: center;
    height:45px;
    padding: 20px;
    background-color: rgba(166, 26, 56, 0.8);
  }
