<div class="form">
  <%= form_for [@student, @brand] do |f| %>

  <div class="form-b">
    <%= f.label :body,"Enter new brand statement here:",:class=>"label"%>
    <%= f.text_area :body,:class=>"input-b"%>
    <%= f.submit "Submit Statement",:class=>"submit_button buttontxt"%>
    <%end%>
  </div>
</div>
